.but-disabled {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}


.but-left {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  top: 130px;
}

.but-right {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  top: 130px;
}

.but-enabled {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #FF0000;
  color: #000000;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.carousel-container {
  position: relative;
  margin: 1.5rem 0;
}

.carousel {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 12px;
  scrollbar-width: none;
}


.carousel-slide {
  flex: 0 0 100%;
  scroll-snap-align: center;
  position: relative;
}

.carousel-slide img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  display: block;

  transition: all 0.3s ease;
  opacity: 1;
  scale: 1;
}
